body{
  background-color: #AAF0D1;
}

hr{
  background-color: none;
  /* border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: dotted; */
  border-style: dotted none none;
  border-width: 5px;
  border-color: #3EB489;
  height: 1px;
  width: 30%;
}

table{
  margin-left: auto;
  margin-right: auto;
}

h1{
  color: #3EB489;
  font-size : 2.625rem;
  margin : 50px auto 0 auto;
  font-family: 'Sacramento',cursive;
}

h2{
  color:#3EB489;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
}

h3{
  color: #3EB489;
}

.t1{
  background-color: grey;
}

.t2{
  background-color: #3EB489;
  transition: background-color 2s;
}
.t2:hover{
  background-color: white;
}

.skills{

}

.imggw{
  filter: grayscale(100%);
  -webkit-filter:grayscale(100%);
}

.imggw:hover{
  filter: grayscale(0%);
  -webkit-filter:grayscale(0%);
  transition-property: filter,-webkit-filter;
  transition-duration: 2s;
}

.projectsImg{
  width:30%;
  border-radius: 25px;
  float: left;
  margin-right: 30px
}

.selfProjects{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.skillRowTop{
  width: 60%;
  margin: auto auto 70px auto;
  text-align: left;
  line-height: 2;
}

.skillRow{
  width: 60%;
  margin: 150px auto;
  text-align: left;
  line-height: 2;
}

.centerer{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
